* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora {
    background-color:#333;
    width: 548px;
    border-radius: 50px;
}

.visor {
    display: flex;
    background-color: #444;
    height: 250px;
    border-radius: 35px;
    margin: 30px;
    padding: 25px;
    flex-direction: column;
}

.visor div:first-child {
    font-weight: bold;
    font-size: 50px;
    color: #0d0;
    font-family:'Courier New', Courier, monospace;
    word-break: break-all;
    width: calc('100% - (2*30px)');
    line-height: 50px;
    overflow: hidden;
    height: calc((4/5)*100%);
}

.visor div:last-child {
    font-weight: bold;
    font-size: 50px;
    color: #0d0;
    font-family:'Courier New', Courier, monospace;
    word-break: break-all;
    width: calc('100% - (2*30px)');
    line-height: 50px;
    overflow: hidden;
    align-self: end;
}

.teclas {
    display: grid;
    height: 500px;
    grid-template-columns: 108px 108px 108px 108px;
    margin: 30px;
    gap: 20px;
}

.teclas button {
    border-radius: 35px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: #CCC;
    border-width: 1px;
    color: #000;
}

.teclas button:active {
    background-color: #EEE;
    border-width: 1px;
    border-color: #FFF;
}

.teclas button:disabled {
    color: #000;
}